{% extends 'layout.html' %}

{% block content %}
{% import "_macros.html" as macros %}
<div class="row d-flex justify-content-center">
    <!-- Formulario para registrar palabras -->
    <form class="justify-content-center" action="/diccionario" method="POST" novalidate>
        <div class="col-md-3 mt-3" style="background-color: white;">
            <h4>Inglés&nbsp;</h4>
            {{ macros.render_field(form.ingles) }}
        </div>
        <div class="col-md-3 mt-3" style="background-color: white;">
            <h4>Español&nbsp;</h4>
            {{ macros.render_field(form.espaniol) }}
        </div>
        <div class="col-md-3 mt-3" style="background-color: white;">
            <button type="submit" class="btn btn-secondary">Registrar</button>
        </div>
    </form>
    <br>
    <!-- Mensaje de éxito o error para el registro de palabras -->
    <label for="">{{ mensaje }}</label>

    
</div>
{% endblock %}
